*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	font-family: Lato, sans-serif;
  font-size: 16px;
	line-height: 1.5em;
	background-color: #F2F2F2;
  color: #2D3645;
}

main {
margin: 100px;
}

header { 
font-family: "Josefin Sans", sans-serif;
  width: 100%;
  position: fixed;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 50px;
  background-color: #98A871;
  top: 0px;
  font-size: 20px;

}

.mainh1 {
    margin-bottom: 40px;
    font-size: 62px;
  margin-top: 170px;
  }
.mainh2{
  line-height: 1.2em;
  font-size: 28px;
	  }

 a {
   color:#F2F2F2;  
   text-decoration: none;
  }
  nav a {
    padding: 8px;
    
  }
  
  nav a:hover {
   color: #FFD0A6;
  }

